 <div class="row d-flex justify-content-center align-items-center mh-100">
     <!-- Image section -->
     <div class="col-lg-2 col-md-2 col-sm-4 col-4 d-flex justify-content-end">
            <img src="https://st.work.ua/i/decoration/push17spring/main/man_1.png"
                 alt="Here should be a logo of the company..." class="mx-auto">
     </div>
     <!-- Text section -->
     <div class="col-lg-4 col-md-6 col-sm-6 col-6">
         <p class="text-secondary m-0">Error:</p>
         <h2 class="pb-2"><span class="badge badge-danger"><%- errorCode%></span></h2>
         <p class="text-secondary m-0">Message:</p>
         <p class="h4 text-danger pb-3"><%- errorMessage%></p>
     </div>
 </div>

 <div class="row d-flex justify-content-center mb-5">
     <!--Button-->
     <div class="col-lg-3 col-md-4 col-sm-10 col-10">
         <a href="/" class="btn btn-primary btn-block">Back to main page</a>
     </div>
 </div>